body {
    background-color: #ffd3e6; /* Blanched almond background */
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

#login-container {
    position: absolute;
    top: 25%;
    align-self: center;
    animation: fadeIn 250ms ease-in forwards;
}

#login-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: #ffc0cb; /* Pink background for login form */
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    width: 100%;
}

#login-form input {
    height: 2rem; /* Increase input height for better visibility */
    border-radius: 8px; /* Adjust the radius as needed for softer corners */
    }

.loginTitle {
    margin: 0 0 1rem 0;
    font-weight: 800;
    color: #fff; /* White text */
    text-shadow: 2px 2px #cf8ba3; /* Light pink shadow effect */
    user-select: none;
    text-decoration: underline solid #cf8ba3; /* Light pink underline effect */
}

#login-submit {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1rem;
    margin: 1.5rem 0 0 0;
    background-color: #cf8ba3; /* Light pink button color */
    color: #fff; /* White text */
    width: fit-content;
    align-self: center;
}

#login-submit:active {
    color: #000; /* Black text on button press */
    background-color: inherit;
}

.parent {
    padding: 40px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 13rem 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-areas:
        "welcome welcome"
        "userInfo auditRatio"
        "xp skills";
    width: 100%;
}

.parent > * {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    animation: fadeIn 1s ease-in forwards;
}

.parent :nth-child(1) {
    animation-delay: 0ms;
}

.parent :nth-child(2) {
    animation-delay: 250ms;
}

.parent :nth-child(3) {
    animation-delay: 500ms;
}

.parent :nth-child(4) {
    animation-delay: 750ms;
}

.parent :nth-child(5) {
    animation-delay: 1000ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
    }
}

.welcome {
    grid-area: welcome;
    height: fit-content;
    display: grid;
    justify-content: center;
}

.welcome button {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1rem;
    margin: 1.5rem 0 0 0;
    background-color: #cf8ba3; /* Light pink button color */
    color: #fff; /* White text */
}

.welcome button:active {
    color: #000; /* Black text on button press */
    background-color: inherit;
}

.userInfo {
    grid-area: userInfo;
    display: flex;
    flex-direction: column;
}

.userInfo ul {
    margin: 1rem;
    padding: 0;
}

.userInfo li {
    margin-top: .2rem;
    list-style: none;
}

.auditRatio {
    grid-area: auditRatio;
}

.xp {
    grid-area: xp;
}

.xp button {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1rem;
    margin: 1.5rem 0 0 0;
    background-color: #cf8ba3; /* Light pink button color */
    color: #fff; /* White text */
}

.xp button:active {
    color: #000; /* Black text on button press */
    background-color: inherit;
}

.skills {
    grid-area: skills;
}

.skills svg {
    display: block;
}

.skills text {
    font-size: 6pt;
}

h1 {
    text-align: center;
    color: #cf8ba3; /* Light pink heading color */
    text-shadow: 2px 2px #fff; /* White shadow effect */
}